<!--====== ABOUT PART START ======-->

    <section id="about" class="about_area pt-70 pb-120">

    <div class="blueDiagonal-2"></div>

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="about_image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <img src="assets/images/about_hero.webp" alt="Hero">
                        <div class="about_shape"></div>
                    </div> <!-- about image -->
                </div>
                <div class="col-lg-6">
                    <div class="about_content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="section_title">
                            <h5 class="sub_title">Sobre</h5>
                            <h3 class="main_title">Ricardo Mota</h3>
                            <ul class="line">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div> <!-- section title -->
                        <p>Nome: Ricardo Jorge Araújo Mota<br />Data de nascimento: 19/06/1984<br />Cidade: BRAGA</p>
                        <p>Caracterizo-me por ser um profissional ambicioso, auto-motivado, resiliente e com uma experiência de 10 anos, com competências adquiridas no desenvolvimento de aplicações web, plataformas E-Commerce e desmaterialização de processos em entidades de diferentes tipos de negócio.</p>
                        <p>Tenho interesse pessoal e profissional em programação de computadores, ciência de dados, business intelligence, machine learning, gestão de projetos e gestão dos sistemas de informação em ambiente empresarial e aposto no conhecimento e na realização pessoal, através da constante melhoria contínua.</p>
                        <p>Procuro ser uma mais valia conjugando os meus conhecimentos de programação de computadores com as competências adquiridas no âmbito das ciênciais empresariais, com o objetivo de promover uma visão integrada dos sistemas de informação com a gestão, aprofundando e explorando o conhecimento e as ferramentas tecnológicas que respondem às exigências do mercado e às expectativas do mundo empresarial acompanhando a transformação digital que estamos a viver.</p>
                        <div class="section_title">
                          <h5 class="sub_title">Competências</h5>
                        </div>
                        <div class="about_skills pt-15">
                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">HTML</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">90</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="90"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->
                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">CSS</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">90</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="90"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->
                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">Javascript</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">75</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="75"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->
                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">PHP</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">85</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="85"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">SQL</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">80</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="80"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">MySQL</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">90</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="90"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">C++</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">50</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="50"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">ANGULAR</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">60</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="60"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">Bootstrap</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">80</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="80"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                            <div class="skill_item mt-20">
                                <div class="skill_header">
                                    <h6 class="skill_title">jQuery</h6>
                                    <div class="skill_percentage">
                                        <p><span class="counter">60</span>%</p>
                                    </div>
                                </div>
                                <div class="skill_bar">
                                    <div class="bar_inner">
                                        <div class="bar progress_line" data-width="60"></div>
                                    </div>
                                </div>
                            </div> <!-- skill item -->

                        </div> <!-- about skill -->
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->
