<section id="portfolio" class="about_area pt-70 pb-120">
<div class="blueDiagonal-1"></div>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center pb-30">
                  <h5 class="sub_title">Portfolio</h5>
                  <h3 class="main_title">Veja aqui alguns dos projectos realizados</h3>
                  <ul class="line">
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->

      <div class="container-card">

          <input type="radio" id="All" name="categories" value="All" checked>
          <input type="radio" id="appweb" name="categories" value="appweb">
          <input type="radio" id="ecommerce" name="categories" value="ecommerce">
          <input type="radio" id="website" name="categories" value="website">
          <input type="radio" id="integracoes" name="categories" value="integracoes">
          <input type="radio" id="angular" name="categories" value="angular">

          <ol class="filters">
            <li>
              <label for="All">Ver todos</label>
            </li>
            <li>
              <label for="appweb">Aplicações Web</label>
            </li>
            <li>
              <label for="ecommerce">E-Commerce</label>
            </li>
            <li>
              <label for="website">Websites</label>
            </li>
            <li>
              <label for="integracoes">Integrações</label>
            </li>
            <li>
              <label for="angular">SPA (Angular)</label>
            </li>
          </ol>

          <ol class="posts">
            <li class="post" data-category="appweb">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/gestor-de-rotas.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Aplicação Web</div>
                        <h1 class="title">app de gestão de rotas e clientes</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Permite programar e otimizar diferentes rotas para distribuição/recolha de produtos/serviços como mapas de referenciação por coordenadas bem como registar na ficha de cliente serviços realizados/produtos entregues e pagamentos. Módulo de análise estatística de workflows em períodos homólogos: por cliente, tipologia de produto/serviço, rota, entre outros)</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/e-commerce-lameirinho.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">E-Commerce</div>
                        <h1 class="title">loja online LAMEIRINHO</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Criar uma nova loja Online que transmitisse o que a marca representa no mercado. Dar a oportunidade ao utilizador de poder procurar e comprar têxtil-lar online de uma forma fácil e intuitiva.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Prestashop</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">PHP (Smarty)</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="appweb">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/2betyres.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Aplicação Web</div>
                        <h1 class="title">app de revenda de produtos</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Coordena a venda de produto online 24h/dia, monitoriza as encomendas em tempo real, permite gerir os stocks e definir promoções por cliente ou produto.<br />Módulo de análise estatística de workflows em períodos homólogos: por cliente, por produto mais vendido, por plafond gasto, entre outros.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="website">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/lagoalva.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Website</div>
                        <h1 class="title">Lagoalva</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">O website reúne o que de melhor tem a Quinta da Lagoalva para oferecer. Dar a conhecer os serviços, bem como os vinhos e azeites. <br />Um website, com catálogo digital e vídeo promocional que pudesse dar a conhecer a beleza da Quinta da Lagoalva bem como os seus produtos e serviços.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="integracoes ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/integracao-frilabo.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Integrações</div>
                        <h1 class="title">Frilabo - loja com integração ERP</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Criação de uma Loja Online B2B com integração do software Primavera. Um layout 100% responsivo com menus funcionais e práticos, intuitivo para o visitante através do seu sitemap assim como chamadas a call to action.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Wordpress</span>
                          <span class="timestamp">Woocommerce</span>
                          <span class="timestamp">cURL</span>
                          <span class="timestamp">JSON</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>
            
            <li class="post" data-category="ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/fotocristal-3d.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">E-Commerce</div>
                        <h1 class="title">loja online FOTOCRISTAL 3D</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Desenvolvimento de uma loja online que permitisse à FOTOCRISTAL 3D vender os seus produtos personalizados. Desenvolvida em Magento na versão 2, implementado um layout responsive e campos personalizados nos produtos desponibiolizados na loja online. </p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Magento 2</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">MySQL</span>
                          <span class="timestamp">Composer</span>
                          <span class="timestamp">SSH</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="appweb">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/e-commerce-lameirinho.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Aplicação Web</div>
                        <h1 class="title">app de Gestão de Tempos e Métodos</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Permite planear execução das ordens de serviço, controlar as obras em tempo real, automatizar fluxo de trabalho, analisar os lucros, desvios e incidências de cada projeto. Módulo de análise estatística de workflows em períodos homólogos: por tipologia de operação/colaborador, por tempo despendido por tipologia de operação, por custos totais, entre outros.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>

            <li class="post" data-category="angular">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/e-commerce-lameirinho.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Angular</div>
                        <h1 class="title">curriculum vitae</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Desenvolvimento de curriculum vitae na framework angular. Aplicação desenvolvida para disponibilziar as competências e o percurso profissonal, como também os projetos realizados até ao momento. </p>
                        <div class="post-meta">
                          <span class="timestamp">Angular 12</span>
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                        </div>
                      </div>
                    </div>
            </li>
            <li class="post" data-category="ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/almabraguesa.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">E-Commerce</div>
                        <h1 class="title">loja online ALMABRAGUESA</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Desenvolvimento de uma loja online que permitisse à Alma Braguesa divulgar (e vender) a sua gama de produtos. <br />Um layout 100% responsivo em formato mobile com um design clean, leve e actual, menus funcionais e práticos. Opção com vários métodos de pagamento.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Prestashop</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">PHP (Smarty)</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>

            <li class="post" data-category="website">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/sousaerego.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Website</div>
                        <h1 class="title">Sousa & Rego</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Criação de um website com um catálogo interativo e implementação de um sistema modelar para criar uma interação fácil com o utilizador. <br />O website reune todos os produtos da Sousa & Rego. Dar a conhecer os produtos, bem como o catálogo digital.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>


            <li class="post" data-category="integracoes ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/lojadospereiras.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Integrações</div>
                        <h1 class="title">loja online com integração ERP</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Desenvolvimento de uma loja online que permitisse à LOJADOSPEREIRAS integrar os seus produtos, encomendas e clientes com o seu ERP. <br />Divulgar (e vender) a sua gama de produtos desmaterializando os processos de venda dentro da empresa. </p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Wordpress</span>
                          <span class="timestamp">Woocommerce</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">cURL</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">Scripts</span>
                          <span class="timestamp">CRON JOBS</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>

            <li class="post" data-category="website">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/care2happiness.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">Website</div>
                        <h1 class="title">Care2Happiness</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Criação de um website, que permite fazer consultas via online com marcações e pagamento de consultas em todos os ecrãs e dispositivos, com uma estrutura simples e dinâmica e fácil de navegar. <br /> imagem mais arrojada e moderna, mantendo a funcionalidade do website e a versatilidade na apresentação das suas especialidades bem como a simplicidade para a marcação de consultas.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">Wordpress</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">jQuery</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>

            <li class="post" data-category="ecommerce">
                    <div class="post-module hover">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <!--<div class="date">
                          <div class="day">2021</div>
                          <div class="month">Mar</div>
                        </div>-->
                        <img src="assets/images/portfolio/dutastore.webp"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                        <div class="category">E-Commerce</div>
                        <h1 class="title">loja online DUTA-STORE</h1>
                        <!--<h2 class="sub_title">The city that never sleeps.</h2>-->
                        <p class="description">Desenvolvimento de uma loja online que permitisse à DUTA-STORE divulgar (e vender) a sua gama de produtos. Script desenvolvida para integrar imagens com ERP. <br />Um layout 100% responsivo em formato mobile com um design clean, leve e actual, menus funcionais e práticos. Opção com vários métodos de pagamento.</p>
                        <div class="post-meta">
                          <span class="timestamp">HTML</span>
                          <span class="timestamp">Prestashop</span>
                          <span class="timestamp">PHP</span>
                          <span class="timestamp">PHP (Smarty)</span>
                          <span class="timestamp">Javascript</span>
                          <span class="timestamp">CSS</span>
                          <span class="timestamp">Bootstrap</span>
                          <span class="timestamp">Script</span>
                          <span class="timestamp">CRON JOB</span>
                          <span class="timestamp">MySQL</span>
                        </div>
                      </div>
                    </div>
            </li>


          </ol>

      </div>




    </div> <!-- container -->
</section>
