<section id="anexos" class="services_area pt-115 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-30">
                        <h5 class="sub_title">Anexos</h5>
                        <h3 class="main_title">Alguma informação que poderá fazer download</h3>
                        <ul class="line">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">

                <div class="col-lg-4 col-sm-6">
                    <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <a href="assets/files/cv.pdf" download target="_blank">
                        <div class="service_icon">
                            <i class="lni lni-empty-file"></i>
                        </div>
                        <div class="service_content">
                            <h4 class="service_title">Curriculum Vitae</h4>
                            <p>Obtenha a minha informação sobre as habilitações, formação, experiência profissional e competências. </p>
                        </div>
                        </a>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <a href="assets/files/CA.JPG" download target="_blank">
                        <div class="service_icon">
                            <i class="lni lni-layout"></i>
                        </div>
                        <div class="service_content">
                            <h4 class="service_title">Certificado de Habilitações</h4>
                            <p>Comprovativo de conclusão da Licenciatura em Informática de Gestão no Instituto Superior de Contabilidade e Administração de Coimbra</p>
                        </div>
                        </a>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                        <a href="assets/files/CCP_CAP.pdf" download target="_blank">
                        <div class="service_icon">
                            <i class="lni lni-license"></i>
                        </div>
                        <div class="service_content">
                            <h4 class="service_title">Certificado de Competências Pedagógicas</h4>
                            <p>Obtenha o comprovativo de Certificado de Competências Pedagógicas</p>
                        </div>
                        </a>
                    </div> <!-- single service -->
                </div>


            </div> <!-- row -->
        </div> <!-- container -->
    </section>
