<section id="percurso" class="percurso pt-115 pb-120">

<div class="blueDiagonal-2"></div>

      <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="section_title text-center pb-30">
                          <h5 class="sub_title">Percurso</h5>
                          <h3 class="main_title">Experiência e Formação Profissional</h3>
                          <ul class="line">
                              <li></li>
                              <li></li>
                              <li></li>
                          </ul>
                      </div> <!-- section title -->
                  </div>
                </div> <!-- row -->


                <div id="cd-timeline" class="container">


                    <div class="cd-timeline-block">

                          <div class="cd-timeline-img cd-picture"></div>

                          <div class="cd-timeline-content">
                                <h2>Programador web</h2>
                                  <div class="timeline-content-info">
                                    <span class="timeline-content-info-title">
                                      <!--<i class="fa fa-certificate" aria-hidden="true"></i>-->
                                      Buzina - Negócios Digitais Lda
                                    </span>
                                    <!--<span class="timeline-content-info-date">
                                      <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                      Março de 2011 – Presente
                                    </span>-->
                                  </div>

                                  <h3>Programador na área de Desenvolvimento Web:</h3>
                                      <ul>
                                        <li>Aplicações web (HTML, CSS, PHP, Javascript, Angular e jQuery)</li>
                                        <li>Plataformas e-commerce (Magento, Prestashop e Woocommerce)</li>
                                        <li>REST API (integração de produtos, clientes e encomendas)</li>
                                        <li>Websites (HTML, CSS, PHP, Javascript, Angular e jQuery)</li>
                                        <li>Base de dados (SQL, MySQL)</li>
                                        <li>Desenvolvimento de plataformas de CRM – Customer relationship manager (HTML, CSS, PHP, Javascript e jQuery)</li>
                                      </ul>
                                  <h3>Gestor de Alojamento Web (cPanel & WHM, Plesk):</h3>
                                      <ul>
                                        <li>Ambiente Linux e Windows</li>
                                        <li>Gestão do alojamento de websites, loja online e aplicações web (cPanel e Plesk)</li>
                                        <li>Gestão de backups, permissões de acesso, scripts e Cron Jobs</li>
                                        <li>Gestão e configuração de emails (Outlook e Thunderbird)</li>
                                        <li>Gestão e manutenção de base de dados MySQL e SQL</li>
                                        <li>Gestor de Projectos, utilizando a metodologia SCRUM.</li>
                                      </ul>
                                  <h3>Consultor em Marketing Digital:</h3>
                                      <ul>
                                        <li>Apoio na definição e implementação de estratégias de Marketing e análise de dados estatísticos e respetivo plano de atuação (Webanalytics).
                                      </ul>
                                  <span class="cd-date">Março de 2011 – Presente</span>
                                  <!--<ul class="content-skills">
                                  <li>HTML5</li>
                                  <li>CSS3</li>
                                  <li>JavaScript</li>
                                  <li>jQuery</li>
                                  <li>Wordpress</li>
                                  </ul>-->
                          </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->



                    <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie"></div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                  <h2>Maketing Digital</h2>
                                    <div class="timeline-content-info">
                                      <span class=""><!--<i class="fa fa-certificate" aria-hidden="true"></i>-->Certificação Google em Marketing Digital - Princípios do marketing digital</span>
                                      <!--<span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        Março de 2011 – Presente
                                      </span>-->
                                    </div>
                              <p>ID do Certificado: AEA 5JR UER <br />Validar Autenticidade do certificado clicando <a href="https://learndigital.withgoogle.com/atelierdigitalportugal/validate-certificate-code" style="color:#000;" target="_blank">aqui</a>.</p>
                              <span class="cd-date">04/01/2019 – 22/01/2019 </span>
                            </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->



                    <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie"></div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                  <h2>Formação Pedagógica Inicial de Formadores </h2>
                                    <div class="timeline-content-info">
                                      <span class=""><!--<i class="fa fa-certificate" aria-hidden="true"></i>-->2FORM - SERVIÇOS DE FORMAÇÃO E CONSULTORIA LDA</span>
                                      <!--<span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        Março de 2011 – Presente
                                      </span>-->
                                    </div>
                              <p>Qualificação para exercer a atividade de formador em projetos formativos. Melhoria nas capacidades de comunicação, aptidão para planear, desenvolver e executar ações de formação e também a utilizar e potenciar plataformas de formação à distância (online).</p>
                              <span class="cd-date">10/01/2015 – 10/03/2015</span>
                            </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->



                    <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie"></div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                  <h2>Licenciatura em Informática de Gestão </h2>
                                    <div class="timeline-content-info">
                                      <span class=""><!--<i class="fa fa-certificate" aria-hidden="true"></i>-->Instituto Superior de Contabilidade e Administração de Coimbra</span>
                                      <!--<span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        Março de 2011 – Presente
                                      </span>-->
                                    </div>
                                    <h3>Principais áreas abrangidas:</h3>
                                      <ul>
                                        <li>Algoritmos e programação</li>
                                        <li>Sistemas operativos</li>
                                        <li>Linguagem orientada por objetos</li>
                                        <li>Desenvolvimento para A WEBCG</li>
                                        <li>Sistemas de informação</li>
                                        <li>Arquitetura de computadores</li>
                                        <li>Gestão de redes informáticas</li>
                                        <li>Base de dados</li>
                                        <li>Investigação operacional</li>
                                        <li>Sistemas baseados em conhecimento</li>
                                        <li>Gestão de projetos de software</li>
                                        <li>Projeto e desenvolvimento informático</li>
                                      </ul>

                              <span class="cd-date">2006 – 2011</span>
                            </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->



                </div> <!-- cd-timeline -->
    </div> <!-- container -->
</section>
